/*
 * Copyright (c) 2020 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include "heptapaw.dtsi"
#include "heptapaw3222.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
